@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 148 38% 98%;
  --foreground: 163 19% 14%;
  --card: 0 0% 100%;
  --primary: 154 63% 38%;
  --muted: 152 27% 92%;
  --border: 153 21% 84%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
